button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  height: 2.25rem;
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
}

button img {
  width: 1rem;
  height: 1rem;
}

button .icon {
  color: white;
  width: 24px;
  height: 24px;
}

button.primary {
  background-color: var(--navy-low);
  color: var(--white);
  border: none;
}
