button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  height: 2.25rem;
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
}

button img {
  width: 1rem;
  height: 1rem;
}

button .icon {
  color: white;
  width: 24px;
  height: 24px;
}

.books-actions {
  height: 3.25rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.books-actions button {
  flex: 1;
}

button.primary {
  background-color: var(--navy-low);
  color: var(--white);
  border: none;
}

button.primary:hover {
  background-color: var(--navy-dark);
}

button.secondary {
  background-color: var(--white);
  color: var(--gray-500);
  border: 1px solid var(--gray-200);
}

button.secondary:hover {
  background-color: var(--gray-100);
}

button.danger {
  background-color: var(--white);
  color: var(--red-bright);
  border: 1px solid var(--gray-200);
}

button.danger:hover {
  background-color: var(--gray-100);
}
