.bookshelf {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.563rem;
  margin-top: 1.5rem;
}

article.card-book {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 21.25rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--gray-200);
}

article .books-data {
  padding: 1rem;
  flex: 1;
}

article .books-data img {
  width: 100%;
  max-height: 25.313rem;
  object-fit: cover;
  border-radius: var(--border-radius);
}

article .card-book-content {
  margin-top: 1rem;
}

article .card-book-content h2,
article .card-book-content p {
  font-size: 1rem;
  line-height: 1.5rem;
}

article .card-book-content h2 {
  color: var(--gray-500);
  font-weight: 600;
}

article .card-book-content p {
  color: var(--gray-400);
  font-weight: 400;
  margin-top: 0.125rem;
}

article .card-book-content .stars {
  margin-top: 0.5rem;
  color: var(--yellow-bright);
  font-size: 1rem;
}

article .card-book-content .comment {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--gray-400);
}

/* Tablet e Desktop */
@media screen and (min-width: 768px) {
  .bookshelf {
    justify-content: flex-start;
  }

  article.card-book {
    width: 14.375rem;
  }

  article .books-data img {
    max-height: 16.25rem;
  }
}
