dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  width: 26.563rem;
  padding: 1.5rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--gray-200);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.3),
    0px 4px 6px -4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

dialog::backdrop {
  background-color: var(--overlay);
}

dialog .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;
}

dialog .modal-header h2 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: var(--gray-500);
}

dialog .modal-header button {
  height: 1rem;
  background: none;
  border: none;
  padding: 0;
  font-size: 1rem;
  cursor: pointer;
  color: var(--gray-500);
}

.modal-action-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  /* margin-top: 1.5rem; */
}
