header,
header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > div {
    column-gap: 0.75rem;
}

header h1 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--gray-500);
}
