.input-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.input-label {
  width: 100%;
  font-size: 0.875rem;
  color: var(--gray-500);
  line-height: 0.875rem;
  letter-spacing: -0.15px;
  font-weight: 500;
}

.input-field {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-radius: var(--border-radius);
  border: 0;
  background-color: var(--gray-100);
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: var(--gray-500);
  outline-color: var(--gray-400);
}

.input-field::placeholder {
  color: var(--gray-400);
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
}
