.heading-md {
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--gray-500);
  font-weight: 600;
}

.body-md {
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--gray-400);
  font-weight: 400;
}

.body-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--gray-400);
  font-weight: 400;
}
