/* spacings */
.pt-72 {
  padding-top: 4.5rem;
}

.mb-16 {
  margin-bottom: 1rem;
}

/* alignments */
.text-center {
  text-align: center;
}

/* width */
.w-full {
  width: 100%;
}

/* colors */
.color-error-field {
  color: var(--red-bright);
  font-weight: 500;
}
